{% extends 'events/base.html' %}

{% block content %}
<table class='table table-striped table-hover table-bordered'>
	<center>
	<h1> Rsos </h1>
	<br/><br/>
    RSO
    {% for rso in rsos %}
        {% if rso.uni_id == curr_user.uni_id%}
            {% if rso.num_students >= 4 %}
                <tr>
                    <td>
                        <a  href="{% url 'view_rso' rso.rso_id %}">{{ rso.name }} </a><br/>
                    </td>
                    <td align="right">
                        <a  href="{% url 'edit_rso' rso.rso_id %}" class = 'btn btn-outline-secondary btn-sm'>Edit </a>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
<br/><br/>
<table class='table table-striped table-hover table-bordered'>
    <center>
    Pending RSOs
    {% for rso in rsos %}
        {% if rso.uni_id == curr_user.uni_id%}
            {% if rso.num_students < 4 %}
                <tr>
                    <td>
                        <a  href="{% url 'view_rso' rso.rso_id %}">{{ rso.name }} </a><br/>
                    </td>
                    <td align="right">
                        <a  href="{% url 'edit_rso' rso.rso_id %}" class = 'btn btn-outline-secondary btn-sm'>Edit </a>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {%endfor%}
	</center>
</table>


<center>
    <a  href="{% url 'add_rso'%}" class = 'btn btn-outline-secondary'>Add an RSO </a>
</center>

{% endblock %}