<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'events_list' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'universities_list'%} ">Universities</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rso_list'%} ">View Rsos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_user'%} ">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" ">Username: {{user.username}}</a>
        </li>
        {% else%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_user'%} ">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_user'%} ">Login</a>
        </li>
        {% endif %}
          <center>
        <a class="navbar-brand" href="">Knights Events</a>
      </center>
      </ul>
    </div>
  </div>
</nav> 