{% extends 'events/base.html' %}

{% block content %}
<h1 class="display-3 text-center">Event Information</h1>
<br><br><br>
<div class="container-fluid text-center col-auto">
    <p class="h3">Event ID: {{ event.event_id }}</p>
    <p class="h3">Event Email: {{ event.event_email }}</p>
    <p class="h3">Event date: {{ event.date }}</p>
    <p class="h3">Event Category: {{ event.event_category }}</p>
    <p class="h3">Event Description: {{ event.event_description }}</p>
    <p class="h3">Event Contact Number: {{ event.event_phone }}</p>
    <p class="h3">Event Type: {{ event.event_type }}</p>
    <p class="h3">Event Host: <a  href="{% url 'view_rso' event.rso_host %}">{{ event.rso_host }} </a></p>
    <br/>
    <br>
</div>

{% endblock%}